html {
  height:100%;
}
body {
  height:100%;
}
#q-app {
  height:100%;
}
#videoconference {
  height: 100%;
  margin-top:4rem;
}
.userIcon {
  width: 32px;
  height: 32px;
  clip-path: circle(16px at center);
}
#userAvatar {
  display: none;
}
.auth-dialog > div:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(0,0,0,0.5);
  border: thin solid #777;
  transform: translate(-50%, -50%);
  z-index: 1050;
}
#loginStatus a {
  border-bottom: none;
}
#loginStatus a:hover {
  border-bottom: 1px solid white;
}
#jitsi {
  width: 100%;
  height: calc( 100% - 4rem );
}

[v-cloak] {
  display: none
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
